[PROJECT]
PROJECT_NAME = movies
PROJECT_HOST = app
PROJECT_PORT = 8000

[REDIS]
REDIS_HOST = redis
REDIS_PORT = 6379
REDIS_CONNECTION_TIMEOUT = 60

[ELASTICSEARCH]
ELASTIC_HOST = elastic
ELASTIC_PORT = 9200
